.odd {
  font-family: Verdana, DejaVu Sans, sans-serif;
  background-color: rgb(227, 143, 157);
}

#blue {
  color: rgb(0, 0, 221);
  font-size: 36px;
}

.three {
  font-size: 24px;
}

#green {
  background-color: rgb(126, 219, 126);
  font-weight: bold;
  font-size: 24px;
}
